<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capture Cryptids!</title>
</head>
<body>
    <a href="/newCryptid"> Detail your findings!</a>
    <div>
        <ul>
            <% cryptids.forEach(crypt => { %>
                <li><a href="/<%=crypt._id%>"> <%= crypt.name %> </a>
                    <img src="<%=crypt.img%>" style="width: 100px;height: auto;">
                </li>

            <%}); %>
           
        </ul>
        
    </div>
    
</body>
</html>