<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentd a new Cryptid?</title>
</head>
<body>
<h1>New Cryptid Spotted?</h1>
<form>
    <form method="PUT" action="/?_method=put" >
        <input name='name' type="text" value="Name">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Description</span>
            </div>
            <input name='description' class="form-control" value="Description">
          </div>
   
        <p>confirmed sighting? </p>
        <input name='confirmation' type="checkbox" value="false">
        <a href="/"> cancel</a>

        <input type="submit" value="Submit Cryptid?">
    </form>
</form>
</body>
</html>